/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root {
  --first-color: #4CCD99;
  --second-color: #007F73;
  --third-color: #ffffff;
  --text-light: #6b7280;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media (min-width: 992px) {
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
}
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
.dark-mode{
  background-color: black;
  color: var(--third-color);

}

#jobTitle{
  animation: blinker 6s linear infinite;
}

@keyframes blinker {
  70%{
    opacity: .2;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem; }

h1,
h2,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.list-unstyled {
  padding-left: 0;
  list-style: none; 
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .form-control {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
  .form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1; }
  .form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1; }
  .form-control::placeholder {
    color: #6c757d;
    opacity: 1; }
  .form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1; }

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}
.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }
}
.nav-item {
  margin-bottom: var(--mb-4);
}
.nav-link {
  position: relative;
  color: #fff;
}
.nav-link:hover {
  position: relative;
}
.nav-link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
.nav-logo img {
  color: var(--second-color);
  font-weight: var(--font-semi);
  width: 3rem;
}
.nav-toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}
.home-data {
  align-self: center;
}
.home-title {
  margin-top: 3rem;
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}
.home-title-color {
  color: var(--first-color);
}
.home-social {
  display: flex;
  flex-direction: column;
}
.home-social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}
.home-social-icon:hover{
  color: var(--first-color); 
}
.home-img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 80px;
  width: 65%;
}

.description {
  line-height: 1.7rem;
  color: var(--text-light);
  font-size: 18px;
  margin-bottom: 3rem;
}

/*BUTTONS*/
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align:middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .btn {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }
  .btn:hover {
    color: #212529;
    text-decoration: none; }

.btn-primary {
  text-align: center;
  padding: 0.75rem 2.5rem;
  color: #fff;
  background-color: #007F73;
  border-color: #007F73;
  cursor: pointer;
}
  .btn-primary:hover {
    color: #007F73;
    background-color: #fff;
    border-color: #007F73; }



.button {
  display: inline-block;
  background-color: var(--first-color);
  border: 1px solid var(--first-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
}
.button:hover {
  background-color: #fff;
  color: var(--first-color);
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

.u-bolder {
  font-weight: 700;
}

/* ===== ABOUT =====*/

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } 
}

/* .section .about {
  padding: 20vh 51px;
} */
/* 
.about-container {
  row-gap: 2rem;
  text-align: center;
}
.about-subtitle {
  margin-bottom: var(--mb-2);
}
.about-img {
  justify-self: center;
}
.about-img img {
  width: 200px;
  border-radius: 0.5rem;
  cursor: pointer;
}

.about-img img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
} */

.ftco-counter {
  overflow-x: hidden;
  position: relative;
  padding: 5em 0; }
  @media (max-width: 1199.98px) {
    .ftco-counter {
      background-position: center center !important; } }
  .ftco-counter .block-18 {
    display: block;
    width: 100%; }
    @media (max-width: 991.98px) {
      .ftco-counter .block-18 {
        margin-bottom: 2em; } }
    .ftco-counter .icon span {
      font-size: 40px;
      color: #fff; }
  .ftco-counter .text {
    width: calc(100% - 60px);
    position: relative;
    padding-left: 15px; }
    @media (max-width: 767.98px) {
      .ftco-counter .text {
        width: 100%; } }
    .ftco-counter .text .number {
      line-height: 1;
      font-weight: 700;
      font-size: 30px;
      color: rgba(0, 0, 0, 0.8);
      display: block;
      margin-bottom: 4px; }
    .ftco-counter .text span {
      font-weight: 600;
      font-size: 15px;
      color: #b1b493;
      text-transform: uppercase; }
  @media (max-width: 767.98px) {
    .ftco-counter .counter-wrap {
      margin-bottom: 20px; } }

.about-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .about-container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .about-container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .about-container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .about-container {
      max-width: 1140px; } 
}
.bg-light {
  background-color: #f8f9fa !important; }
img .bg-light {
  background-color: #f8f9fa !important; 
  margin-bottom: 100px;
}

.ftco-section {
  padding: 5em 0;
  position: relative; }
  @media (max-width: 767.98px) {
    .ftco-section {
      padding: 6em 0; } 
}

.big {
  color: #fff;
}
.ftco-no-pt {
  padding-top: 0 !important; 
}

.ftco-no-pb {
  padding-bottom: 0 !important; 
}

/* img {
  vertical-align: middle;
  border-style: none; 
} */

.ftco-about .img-about {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative; }
  .ftco-about .img-about .img {
    /* display: block; */
    width: 100%;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.33);
    box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.33); }

.ftco-about ul.about-info {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%; 
}
  .ftco-about ul.about-info li {
    list-style: none;
    margin-bottom: 10px; 
    line-height: 2rem;
  }
  .ftco-about ul.about-info {
    margin-bottom: 10px;
  }
    .ftco-about ul.about-info li span {
      width: calc(100% - 130px);
      font-weight: 600;
      color: #b1b493; }
      .ftco-about ul.about-info li span:first-child {
        font-weight: 600;
        color: #007F73;
        width: 130px; 
}

.ftco-about p {
  line-height: 2rem;
  color: #b1b493; 
}
.ftco-about .button {
  display: inline-block;
  background-color: var(--first-color);
  border: 1px solid var(--first-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 5rem;
}
.ftco-about .button:hover {
  background-color: #fff;
  color: var(--first-color);
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

.u-bolder {
  font-weight: 700;
}



.ftco-about .my-interest {
  margin-top: 10px; 
  margin-bottom: 40px;
}
  .ftco-about .my-interest .interest-wrap {
    width: 25%;
    border-left: 2px solid #b1b493;
    padding-left: 10px; }
    @media (max-width: 1199.98px) {
      .ftco-about .my-interest .interest-wrap {
        width: 50%;
        float: left;
        margin-bottom: 10px; } 
      }
      .ftco-about .my-interest .interest-wrap .icon span {
        color: #000000;
        font-size: 18px; }
    .ftco-about .my-interest .interest-wrap .text {
      font-weight: 600;
      color: #007F73;
      padding-left: 5px; 
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; 
}

.heading-section .subheading {
  font-size: 13px;
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: black;
  color: #b1b493;
  letter-spacing: 3px; 
}
.heading-section {
  position: relative; }
  .heading-section .subheading {
    font-size: 13px;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: black;
    letter-spacing: 3px; }
    .heading-section h2 {
      font-size: 50px;
      font-weight: 700; }
      .heading-section h2 span {
        font-weight: 400; }
      @media (max-width: 767.98px) {
        .heading-section h2 {
          font-size: 38px; } }
    .heading-section.heading-section-white .subheading {
      color: rgba(255, 255, 255, 0.9) !important; }
    .heading-section.heading-section-white h2 {
      color: #fff; }
    .heading-section.heading-section-white p {
      color: rgba(255, 255, 255, 0.9); }
/* .heading-section h2 {
  font-size: 40px;
  font-weight: 600; 
} */
/* 
.ftco-animate {
  opacity: 0;
  visibility: hidden;
} */

.text-center {
  text-align: center !important; }

.col-md, .col-md-3, .col-md-4, .col-md-6, .col-md-7, .col-md-8, .col-md-10, .col-md-12, 
.col-lg-3, .col-lg-5, .col-lg-7 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; 
}

@media (min-width: 576px) {
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; 
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; 
  }

  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; 
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; 
  }
}

.col-lg-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%; 
}

.col-lg-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%; 
}
.mb-5 {
  margin-bottom: 3rem !important; }
.pl-md-4 {
  padding-left: 1.5rem !important; 
}
.py-md-5 {
  padding-top: 3rem !important; }

.pl-lg-5 {
  padding-left: 3rem !important; 
}
.py-3 {
  padding-top: 1rem !important; 
}
.py-5,
.pb-5 {
  padding-top: 3rem !important; 
}

.p-4 {
  padding: 1.5rem !important; }

.pb-3 {
  padding-bottom: 1rem !important; 
}

.px-2 {
  padding-right: 0.5rem !important; 
}
.px-5 {
  padding-right: 3rem !important; }

.px-md-0 {
  padding-right: 0 !important; 
}

.mt-4 {
  margin-top: 1.5rem !important; 
}
.mt-5 {
  margin-top: 3rem !important
}
.mb-5 {
  margin-bottom: 3rem !important; }

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important; }

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-lg-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; 
}
.w-100 {
  width: 100% !important; 
}

.align-items-stretch {
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important; 
}
.align-self-stretch {
  -ms-flex-item-align: stretch !important;
  -ms-grid-row-align: stretch !important;
  align-self: stretch !important; 
}
.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; 
}
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; 
}

.justify-content-start {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important; 
}

/* ===== EDUCATION =====*/

.education-data{
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: var(--mb-4);
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  transition: 1s ease;
}


.education-name{
  margin: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
   font-size: 20px;
   cursor: pointer;
  }
  .education-platform{
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
     font-size: 16px;
     cursor: pointer;
    }

    .education-duration{
      margin: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
       font-size: 12px;
       cursor: pointer;
      }
  
  .education-data:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}




/* ===== SKILLS =====*/
.skills-container {
  row-gap: 2rem;
  text-align: center;
}



.skills-subtitle {
  margin-bottom: var(--mb-2);
}
.skills-text {
  margin-bottom: var(--mb-4);
}
.skills-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  transition: 1s ease;
  cursor: pointer;
}

.skills-icon {
  width: 2rem;
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
img.man-icons {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.skills-names {
  display: flex;
  align-items: center;
}


.skills-names:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
}

.skills-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
}
.skills-html {
  width: 90%;
}
.skills-css {
  width: 90%;
}
.skills-java {
  width: 75%;
}
.skills-js,
.skills-php {
  width: 35%;
}
.skills-react,
.skills-vite {
  width: 60%;
}
.skills-sql {
  width: 70%;
}
.skills-ts {
  width: 70%;
}
.skills-node {
  width: 10%;
}
.skills-img {
  border-radius: 0.5rem;
}

/* ===== Projects =====*/
.project-container {
  gap: 2rem;
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* column-gap: 2rem; */
  width: calc(100% - 2rem);
  margin: auto;
}
.project-img {
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}
.project-img a {
  margin: auto 1rem 1rem;
}
.project-img img {
  transition: 1s;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.project-img img:hover {
  transform: scale(1.1);
}
.project-container p {
  margin: auto 1rem 1rem;
}
.project-title {
  margin-bottom: var(--mb-2);
  margin-top: var(--mb-3);
  font-size: var(--h2-font-size);
}
.project-subtitle {
  margin-bottom: var(--mb-4);
  padding-bottom: 3.5rem;
}
/* .small-btn {
  padding: 0.3rem 1.3rem;
  font-weight: 400;
  margin: 1rem;
}
.project-btns {
  position: absolute;
  bottom: 0;
} */



/* ===== RESUME ===== */
.resume-wrap {
  width: 100%;
  margin-bottom: 30px;
  background-color: rgba(149, 140, 140, 0.1);
  /* background-color: #dcd8d8; */
  padding: 30px;
  padding-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .resume-wrap .date {
    font-weight: 900;
    font-size: 26px;
    color: #5a6e6d; }
  .resume-wrap h2 {
    font-size: 26px;
    font-weight: 600;
    padding-top: 10px; 
    padding-bottom: 10px;
  }
  .resume-wrap .position {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase; 
    padding-top: 20px;
    padding-bottom: 20px;
    color: #5b8e8ce0; 
  }
  .resume-wrap .mt-4 {
    line-height: 30px;
    margin-bottom: 50px;
    font-weight: 500;
    color: #5b8e8ce0;
  }
.resume .button {
  display: inline-block;
  background-color: var(--first-color);
  border: 1px solid var(--first-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 5rem;
}
.resume .button:hover {
  background-color: #fff;
  color: var(--first-color);
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

.u-bolder {
  font-weight: 700;
}
/* .resume-container {
  gap: 2rem;
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 2rem;
  width: calc(910% - 2rem);
  margin: auto;
}
.resume-img {
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}

.resume-container h2, p {
  margin: auto 1rem 1rem;
}

.resume-container h2 {
  margin-top: 50px;
}
.resume-title {
  margin-bottom: var(--mb-2);
  margin-top: var(--mb-3);
  font-size: var(--h2-font-size);
}
.resume-subtitle {
  margin-bottom: var(--mb-4);
  padding-bottom: 3.5rem;
} */
/* .small-btn {
  padding: 0.3rem 1.3rem;
  font-weight: 400;
  margin: 1rem;
}
.resume-btns {
  position: absolute;
  bottom: 0;
} */

/* ===== CONTACT =====*/
input, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
}
/* textarea {
  overflow: auto;
  resize: vertical; }
textarea.form-control {
  height: auto; 
} */
.dbox {
  width: 100%;
  margin-bottom: 0px; }
  @media (max-width: 767.98px) {
    .dbox {
      margin-bottom: 25px !important;
      padding: 0 20px; } }
  .dbox p {
    margin-bottom: 0px; }
    .dbox p span {
      font-size: 1.2rem;
      font-weight: 600;
      color: #000000; 
      margin-bottom: 0px;
    }
    .dbox p a {
      color: #b1b493 }
  .dbox .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #007F73;
    margin: 0 auto;
    margin-bottom: 80px; }
    .dbox .icon span {
      font-size: 20px;
      color: #fff; }
  .dbox .text {
    width: calc(100% - 50px);
    padding-left: 15px; }
    .dbox .text span {
      display: block;
      line-height: 1.5; 
    }
    .dbox .text {
      color: #b1b493;
      font-size: 1.2rem;
      font-weight: 600;
    }

.form-group {
  margin-bottom: 1rem; }

.block-9 .form-control {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px; }

.contact-section .img {
  width: 100%;
  background-position: top center; }

.contact-section .contact-info p a {
  color: #fff; }

.contact-section .contact-form {
  width: 100%;
  border-radius: 5px; }
  @media (max-width: 767.98px) {
    .contact-section .contact-form .btn-primary {
      display: block;
      width: 100%; } }
  .contact-section .contact-form .form-control {
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 20px; }
  .contact-section .contact-form .form-control {
    height: 60px;
    background: #fff;
    color: rgba(0, 0, 0, 0.5);
    font-size: 17 px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 3px solid #007F73; }
    .contact-section .contact-form .form-control::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgba(0, 0, 0, 0.5) !important; }
    .contact-section .contact-form .form-control::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(0, 0, 0, 0.5) !important; }
    .contact-section .contact-form .form-control:-ms-input-placeholder {
      /* IE 0+ */
      color: rgba(0, 0, 0, 0.5) !important; }
    .contact-section .contact-form .form-control:-moz-placeholder {
      /* Firefox 18- */
      color: rgba(0, 0, 0, 0.5) !important; }
    .contact-section .contact-form .form-control:focus, .contact-section .contact-form .form-control:active {
      border-color: #b1b493 !important; }
  .contact-section .contact-form textarea.form-control {
    height: inherit !important; 
}

.contact-section .box {
  width: 100%;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  @media (max-width: 991.98px) {
    .contact-section .box {
      margin-bottom: 30px; } }
  .contact-section .box .icon {
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    margin-bottom: 2em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .contact-section .box .icon span {
      color: #ffbd39;
      font-size: 30px; }
  .contact-section .box h3 {
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase; 
}

/* .contact form {
  max-width: 90rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} 

.contact form .input-box input,
.contact form textarea {
  width: 40%;
  padding: 0.7rem;
  font-size: 1rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  border: 2.5px solid var(--second-color);
  margin: 0.7rem 0;
  resize: none;
}

.contact form .input-box input {
  width: 20%;
  margin: 0.7rem 0.35rem;
  padding: 0.9rem;
}

.contact form textarea {
  width: 41%;
}

.contact form .btn {
  border-radius: 0.5rem;
  padding: 0.8rem;
  width: 15%;
  border: 3px solid var(--second-color);
  background-color: var(--second-color);
  cursor: pointer;
  color: white;
}
.contact form .btn:hover {
  border-radius: 0.5rem;
  padding: 0.8rem;
  width: 15%;
  border: 3px solid var(--second-color);
  background-color: white;
  cursor: pointer;
  color: black;
} */

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; 
  }
  .ml-md-4 {
    margin-left: 1.5rem !important; }
  .p-md-5 {
    padding: 3rem !important; 
  }
  .pl-md-5 {
    padding-left: 3rem !important;
  }
}

/* ===== FOOTER =====*/
/* .footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 3.5rem 0;
}
.footer-title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer-social {
  margin-bottom: var(--mb-4);
}
.footer-icon {
  font-size: 1rem;
  color: #fff;
  margin: 0 var(--mb-2);
} */
.ftco-footer {
  font-size: 18px;
  background: #232931;
  padding: 7em 0;
  z-index: 0; }
  .ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em; }
  .ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 600; }
  .ftco-footer .ftco-footer-widget ul li {
    margin-bottom: 20px; }
    .ftco-footer .ftco-footer-widget ul li a {
      color: rgba(255, 255, 255, 0.6); }
      .ftco-footer .ftco-footer-widget ul li a span {
        color: rgba(255, 255, 255, 0.6); }
  .ftco-footer p {
    color: rgba(255, 255, 255, 0.7); 
    line-height: 2rem;
    margin-bottom: 30px;
  }
  .ftco-footer a {
    color: rgba(255, 255, 255, 0.7); }
  .ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #000000; }

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block; }
  .ftco-footer-social li a {
    height: 50px;
    width: 50px;
    display: block;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    position: relative; 
    margin-right: 0.5rem;
  }
    .ftco-footer-social li a span {
      position: absolute;
      font-size: 20px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .ftco-footer-social li a:hover {
      color: #fff; }

.footer-small-nav > li {
  display: inline-block; }
  .footer-small-nav > li a {
    margin: 0 10px 10px 0; }
    .footer-small-nav > li a:hover, .footer-small-nav > li a:focus {
      color: #b1b493; 
}

.block-23 ul {
  padding: 0; }
  .block-23 ul li, .block-23 ul li > a {
    display: table;
    line-height: 1.5;
    margin-bottom: 15px; }
  .block-23 ul li span {
    color: rgba(255, 255, 255, 0.7); }
  .block-23 ul li .icon, .block-23 ul li .text {
    display: table-cell;
    vertical-align: top; }
  .block-23 ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    color: white; }



/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav-list {
    display: flex;
    padding-top: 0;
  }
  .nav-item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav-toggle {
    display: none;
  }
  .nav-link {
    color: var(--second-color);
  }

  .home {
    height: 100vh;
  }
  .home-data {
    align-self: flex-end;
  }
  .home-social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home-social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home-img {
    width: 39%;
    max-width: 420px;
    bottom: 15%;
  }
  .about-container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto; 
  } 
  /* .about-container {
    width: 50%;
  } */
   
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
    text-align: initial;
  }
  .about-img img {
    width: 300px;
  }
  .project-container {
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    column-gap: 3rem;
  }
  .resume-container {
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    column-gap: 3rem;
  }

  .contact-form {
    width: 360px;
  }
  .contact-container {
    justify-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home-img {
    right: 10%;
  }
}